@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    font-family: 'Roboto Mono', monospace, serif;

    --background-light: #ebe8e1;
    --background-dark: #262626;
    --text-light: #262626;
    --text-dark: #ebe8e1;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-dark);
    color: var(--text-dark);
}

@media (max-width: 550px) {
    body {
        padding-left: 8px;
        padding-right: 8px;
    }
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

.nav-link {
    padding: 2px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.nav-link:hover {
    color: var(--text-light);
    background-color: var(--background-light);
}

.nav-container {
    display: flex;
    justify-content: start;
    gap: 10px;
}

@media (max-width: 550px) {
    .nav-container {
        flex-direction: column;
        align-items: start;
    }
}

#site-title {
    margin: 0;
    font-weight: bold;
    color: var(--text-dark);
    padding: 4px;
}

#site-title:hover {
    background-color: var(--background-light);
    color: var(--text-light);
}

#wizard-cat {
    width: 120px;
    border: 2px solid var(--text-dark);
}

.site-title-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;
    margin-bottom: 1rem;
}

.page-content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 500px;
    margin: auto;
    margin-top: 24vh;
    padding-left: 4px; padding-right: 4px;
    gap: 1.5rem;
}

@media (max-width: 550px) {
    .page-content-container {
        margin-top: 14vh;
    }
    article {
        font-size: smaller;
    }
}
